*{
    padding: 1%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://mcdn.wallpapersafari.com/medium/84/6/USquLO.jpg);
    backdrop-filter: blur(3px);
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    border-radius: 45px;
    background-color: rgb(90, 90, 90);
    box-sizing: border-box;
    transition: ease 0.5s all;
}
.greenfont{
    color: rgb(100, 250, 100);
}
.box1{grid-area: box1;}
.box2{grid-area: box2;
color: rgb(228, 0, 0);}
.box3{grid-area: box3;}
.box4{grid-area: box4;}
.box5{grid-area: box5;}
.box6{grid-area: box6;}
.box7{grid-area: box7;}
.box8{grid-area: box8;}
.box9{grid-area: box9;}
.box10{grid-area: box10;}
.box11{grid-area: box11;}
.box12{grid-area: box12;}
.box13{grid-area: box13;}
.box14{grid-area: box14;}
.box15{grid-area: box15;}
.box16{grid-area: box16;}
.box17{grid-area: box17;}
.box18{grid-area: box18;}
.box19{grid-area: box19;}
.box20{grid-area: box20;}
.box21{grid-area: box21;
color: white;
background-color: rgb(100, 250, 100);}

.main{
    box-sizing: border-box;
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(35, 35, 35);
    height: 85%;
    width: 30%;
    border-radius: 5%;
    display: grid;
    grid-template-areas: 
    "box1 box1 box1 box1"
    "box2 box3 box4 box5"
    "box6 box7 box8 box9"
    "box10 box11 box12 box13"
    "box14 box15 box16 box17"
    "box18 box19 box20 box21"
    ;
    gap: 1rem;
}

.box:hover{
    background-color: rgb(74, 74, 74);
    transition: ease 0.5s all;
}

